<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title><%= title %> </title>
</head>

<body>
  <header>
    <h1><%= title %> </h1>
  </header>
  <div role="main">
    <table>
      <% for(const obj of content) { %>
        <tr>
          <th><%= obj.id %> </th>
          <td><%= obj.name %> </td>
          <td><%= obj.mail %> </td>
          <td><%= obj.age %> </td>
        </tr>
      <% } %>
    </table>
  </div>
</body>

</html>